body {
  text-align: center;
  background-color: #011F3F;
}

.game-viewport {
  position: absolute;
  width: 100vw;
  min-height: 100%vh;
  height: 100vh;
  top: 0;
}

hr {
  border: none;
  border-top: 5px dashed #f00;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 60%;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 2%;
  color: #FEF2BF;
}

.container {
  display: inline-block;
  width: 100%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.mobile-reset {
  height: 100px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  background-color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 25px;

}

.btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.game-over {
  background-color: rgb(131, 12, 12);
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.black-circle {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  left: 500px;
}

/* hides and takes buttons out of the flow so the start button is easier to click */
.hidden {
  display: none;
}